body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/index/bg.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-24px;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:910px;
  height:180px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:137px;
  width:900px;
  height:170px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:60px;
  width:34px;
  height:33px;
}
#u2_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
  overflow:auto;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:68px;
  width:94px;
  height:94px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
